<#@ template language="C#" hostspecific="true" #>
<#@ include file="..\QuickIO.CodeGeneration\SaveOutput.tt" #>
<#@ include file="..\QuickIO.CodeGeneration\StaticRootMethods.tt" #>
<#@ output  extension=".cs" #>
<#
    Generate("QuickIODirectory");
#>