<#@ template language="C#" hostspecific="true" #>
<#@ include file="..\Templates\SaveOutput.tt" #>
<#@ include file="..\Templates\StaticRootMethods.tt" #>
<#@ output  extension=".cs" #>
<#
    Generate("QuickIOFile");
#>