<#@ template language="C#" hostspecific="true" #>
<#@ include file=".\CodeTemplates\SaveOutput.tt" #>
<#@ include file=".\CodeTemplates\StaticRootMethods_Async.tt" #>
<#@ output  extension=".cs" #>
<#
    Generate("QuickIODirectory");
#>