<#@ template language="C#" hostspecific="true" #>
<#@ include file="CodeTemplates/SaveOutput.tt" #>
<#@ include file="CodeTemplates/StaticRootMethods.tt" #>
<#@ output  extension=".cs" #>
<#
    Generate("QuickIOFile");
#>